@import "tailwindcss";

:root {
  --bg-primary: #131313;
  --bg-tier-row: #1a1a1a;
  --bg-unranked: #0d0d0d;
  --text-primary: #f0f0f0;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
